.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/home-background.png");
}
.patientLoginStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(87, 110, 109); */
  width: 300px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #5a5a5a;
  flex-direction: column;
  gap: 15px;
  border: 2px solid black;
  position: relative;
}
.headerStyle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
}
.alertStyle {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.error {
  color: red;
}
.success {
  color: #23ff0b;
}
