.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profileLable {
  display: flex;
  width: 600px;
  height: 700px;
  background-color: rgb(87, 110, 109);
  border-radius: 20px;
  box-shadow: 3px 3px 4px #747474;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.dataStyle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}
.countStyleName {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
}
.countStyle {
  color: white;
  font-size: 50px;
  margin: 0px;
  font-weight: 600;
}
.countLable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}
.countBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 999px;
  box-shadow: 6px 2px 10px #494949;
}
.dataLable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}
.prefixData {
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin: 0px;
}
.dataGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.deleteBtnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #343434;
}

.deleteBtnStyle:hover {
  background-color: rgb(255, 77, 77);
  transform: translateY(-1px);
  color: white;
}
.editBtnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #343434;
}
.editBtnStyle:hover {
  background-color: #8b8b8b;
  transform: translateY(-1px);
}
.deleteAskStyle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.deleteAskLable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(87, 110, 109);
  box-shadow: 2px 2px 4px #363636;
  width: 500px;
  height: 200px;
  border-radius: 20px;
}
.deleteMessage {
  color: white;
  font-size: 20px;
  font-weight: 400px;
}
.btnLableDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cancelStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #363636;
  border-radius: 20px;
  width: 80px;
  height: 30px;
}
.cancelStyle:hover {
  background-color: red;
  color: white;
  transform: translateY(-1px);
}
.yesStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #363636;
}
.yesStyle:hover {
  background-color: #0dff00;
  transform: translateY(-1px);
}
.logOutStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #343434;
}
.logOutStyle:hover {
  background-color: #8b8b8b;
  transform: translateY(-1px);
}
.addImageInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}
.addImageInput:hover {
  transform: translateY(-1px);
}
.addPhotoText {
  color: white;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.addPhotoButton {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 999px;
  border: 1px solid black;
}
.addPhotoButton:hover {
  background-color: #cccccc;
  transform: translateY(-1px);
}
.addPhotoLable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.alertPhotoStyle {
  font-size: 15px;
  margin: 0;
}
.success {
  color: #0dff00;
}
.error {
  color: red;
}
