.container {
  height: 250px;
  width: 200px;
  background-color: rgb(87, 110, 109);
  border: 0;
  box-shadow: 3px 3px 5px #787878;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.subData {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}
.textLable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataStyle {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}
.container:hover {
  /*pentru a avea animatie la trecerea peste card*/
  background-color: rgb(67, 84, 83);
  transform: translateY(-1px); /*pentru a avea o animatie mica de ridicare*/
}
