services:
  #Serviciul pentru baza de date
  db:
    image: mysql:8.0
    #Numele pe care il v-a purta containerul
    container_name: medical_db
    #Environment variables pentru parola root si numele bazei de date
    environment:
      - MYSQL_ROOT_PASSWORD=Cipri2005p2005p
      - MYSQL_DATABASE=medical_base_db
    ports:
      #Pot mapa porturile de la 3306 la 3307:3306 si sunt independente astfel o sa pot rula si baza de date locala pe 3306 si pe container fiind porturi distincte pentru ca maparea face ca calculatorul sa vada db din container la portul 3307
      #Trebuie schimbat si in DATABASE_URL din backend
      - "3307:3306"
  backend:
    #Spunem ca serviciul de backend este din fisierul curent acesta este doar in caz de development sau in cazul in care trimitem tot codul ca un fisier
    build:
      context: ./Backend #In acest fisier se cauta automat Dockerfile-ul si se executa
    container_name: medical_base_backend
    environment:
      #URL-ul bazei de date nu mai este la localhost ca in development asa ca folosim db:3306 !!! TEORIE GRESITA
      - DATABASE_URL=mysql://root:Cipri2005p2005p@db:3306/medical_base_db
      #Il suprascrie pe cel din dockerfile
      - PORT_ENV=7000
    ports:
      #Portul pe care o sa fie deschis pentru baza de date
      - "8080:7000"
    depends_on:
      - db
    #Comanda care forteaza crearea tabelelor in baza de date de fiecare data
    command: sh -c "npx prisma db push && node index.js"
    #Sa se reseteze serviciul de fiecare data cand apare o eroare pentru a nu se opri tot procesul
    restart: on-failure

  frontend:
    build:
      context: ./my-app
      args:
        #Portul mapat de la backend
        - REACT_APP_API_URL=http://localhost:8080
    container_name: medical_base_frontend
    ports:
      - "5000:5000"
    depends_on:
      - backend
