.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profileStyle {
  display: flex;
  width: 500px;
  height: 700px;
  background-color: rgb(87, 110, 109);
  border-radius: 20px;
  box-shadow: 5px 5px 10px #7d7d7d;
}
