.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url("../../assets/home-background.png");
}
.buttonBody {
  flex-direction: column;
  display: flex;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 3px 3px 4px #525252;
  border-radius: 20px;
}
.buttonLoginStyle {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #525252;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(87, 110, 109);
  color: rgb(255, 255, 255);
}
.buttonLoginStyle:hover {
  background-color: rgb(67, 84, 83);
  transform: translateY(-1px);
}
.buttonPatientStyle {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #525252;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.buttonPatientStyle:hover {
  background-color: #c4c4c4;
  transform: translateY(-1px);
}
