.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.buttonBody {
  flex-direction: column;
  display: flex;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 3px 3px 4px #525252;
  border-radius: 20px;
}
.buttonStyle {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #525252;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
