.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/home-background.png");
}
.topTab {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  background-color: rgb(87, 110, 109);
  width: 100%;
  padding-right: 30px;
  box-shadow: 2px 2px 3px #000000;
}
.bottomTab {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttonRegisterStyle {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #525252;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(164, 208, 206);
  color: rgb(0, 0, 0);
}
.buttonRegisterStyle:hover {
  background-color: rgb(132, 165, 163);
  transform: translateY(-1px);
}
.buttonPatientStyle {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #525252;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.buttonPatientStyle:hover {
  background-color: #c4c4c4;
  transform: translateY(-1px);
}
.buttonLoginStyle {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #525252;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.buttonLoginStyle:hover {
  background-color: #c4c4c4;
  transform: translateY(-1px);
}
.titleStyle {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.titleLable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}
.buttonLable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 400px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 4px #525252;
  background-color: rgb(87, 110, 109);
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  margin-bottom: 100px;
}
