.container {
  display: flex;
  height: 100vh;
}
.patientView {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.doctorView {
  width: 300px;
  background-color: rgb(87, 110, 109);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  padding-bottom: 100px;
}
.patientDataView {
  display: flex;
  background-color: rgb(87, 110, 109);
  height: 700px;
  width: 550px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #7d7d7d;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.textStyle {
  color: white;
  margin: 0px;
}
.dataStyle {
  color: white;
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
}
.prefixStyle {
  color: white;
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
}
.alignData {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.addStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px #363636;
}
.addStyle:hover {
  background-color: #00ff22;
  transform: translateY(-1px);
}
.deleteStyle {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #363636;
  background-color: rgb(255, 137, 137);
  color: rgb(0, 0, 0);
}
.deleteStyle:hover {
  background-color: red;
  color: white;
  transform: translateY(-1px);
}
