.container {
  display: flex;
  height: 100vh;
}
.patientView {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.doctorView {
  width: 300px;
  background-color: rgb(87, 110, 109);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  padding-bottom: 100px;
}
.patientDataView {
  display: flex;
  background-color: rgb(87, 110, 109);
  height: 700px;
  width: 550px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #7d7d7d;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  position: relative;
}
.textStyle {
  color: white;
  margin: 0px;
}
.dataStyle {
  color: white;
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
}
.prefixStyle {
  color: white;
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
}
.alignData {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.addStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 999px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px #363636;
  position: absolute;
  top: 10px;
  left: 10px;
}
.addStyle:hover {
  background-color: #00ff22;
  transform: translateY(-1px);
}
.deleteStyle {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #363636;
  background-color: rgb(255, 137, 137);
  color: rgb(0, 0, 0);
}
.deleteStyle:hover {
  background-color: red;
  color: white;
  transform: translateY(-1px);
}
.alertStyle {
  font-size: 15px;
  font-weight: 400;
}
.error {
  color: red;
}
.success {
  color: #27ff13;
}
.deleteAskStyle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.deleteAskLable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(87, 110, 109);
  box-shadow: 2px 2px 4px #363636;
  width: 500px;
  height: 200px;
  border-radius: 20px;
}
.deleteMessage {
  color: white;
  font-size: 20px;
  font-weight: 400px;
}
.btnLableDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cancelStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #363636;
  border-radius: 20px;
  width: 80px;
  height: 30px;
}
.cancelStyle:hover {
  background-color: red;
  color: white;
  transform: translateY(-1px);
}
.yesStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #363636;
}
.yesStyle:hover {
  background-color: #0dff00;
  transform: translateY(-1px);
}
