.container{
  display: flex;
  height: 100vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputBody{
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px grey;
}
.inputName{
  width: 200px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}
.submitButton{
  width: 70px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
