.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/home-background.png");
}
.loginBody {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 60px;
  box-shadow: 3px 3px 4px #525252;
}
.topStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottomStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inpStyle {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.allertStyle {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.success {
  color: rgb(165, 255, 165);
}
.error {
  color: red;
}
.loginText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.registerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
