.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.usernameStyle {
  width: 150px;
  height: 20px;
}
.passwordStyle {
  width: 150px;
  height: 20px;
}
.loginBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  width: 200px;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.bottomStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alertStyle {
  font-size: 10px;
}
