.container {
  display: flex;
  height: 250px;
  width: 200px;
  box-shadow: 2px 2px 4px #d9ffe5;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 999px;
  margin: 0px;
  padding: 0;
  box-shadow: 2px 2px 4px #6e6e6e;
}
.dataStyle {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.subdataStyle {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 50;
}
.dataContainer {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 5px;
  margin-top: -30px;
}
.doctorCard {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.topLable {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.titleStyle {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
