.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/home-background.png");
}
.registerBody {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 3px 3px 4px #525252;
  text-align: center;
}
.middleLable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 250px;
}
.succes {
  color: rgb(165, 255, 165);
}
.error {
  color: red;
}
.bottomLable {
  padding-bottom: 30px;
}
